[package]
name = "url-bot"
version = "0.1.0"
authors = ["Edward Cragg <drq.11235@gmail.com>"]

[dependencies]
irc = "0.13.6"
tokio-core = "0.1.17"
htmlescape = "0.3.1"
rusqlite = "0.14.0"
time = "0.1.40"
docopt = "1.0.1"
serde = "1.0.79"
serde_derive = "1.0.79"
itertools = "0.7.8"
regex = "1.0.5"
lazy_static = "1.1.0"
failure = "0.1.2"
reqwest = "0.9.2"
serde_rusqlite = "0.14.0"
immeta = "0.4.0"
mime = "0.3.9"
humansize = "1.1.0"
unicode-segmentation = "1.2.1"
toml = "0.4.8"
