[package]
name = "url-bot"
version = "0.1.0"
authors = ["Edward Cragg <drq.11235@gmail.com>"]

[dependencies]
irc = "0.13.6"
hyper = "0.12.11"
tokio-core = "0.1.17"
curl = "0.4.18"
htmlescape = "0.3.1"
rusqlite = "0.14.0"
time = "0.1.40"
docopt = "1.0.1"
serde = "1.0.79"
serde_derive = "1.0.79"
itertools = "0.7.8"
regex = "1.0.5"
lazy_static = "1.1.0"
