name: packaging
on: [push, pull_request]

jobs:
  packaging:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsqlite3-dev

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: clippy
          override: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-release-${{ hashFiles('**/Cargo.lock') }}

      - name: Build Debian package
        id: build_deb
        run: |
          cargo install cargo-deb
          cargo deb > out
          echo ::set-output name=DEB_PATH::$(cat out)

      - name: Test Debian package service start
        run: |
          sudo dpkg -i ${{ steps.build_deb.outputs.DEB_PATH }}
          sudo systemctl start url-bot-rs
          systemctl status url-bot-rs
          sleep 20
          systemctl status url-bot-rs
